asgiref==3.10.0
Babel==2.14.0
cachetools==6.2.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.2
dj-database-url==3.0.1
Django==5.2.7
django-allauth==65.12.0
django-extensions==3.2.3
django-parler==2.3
django-rosetta==0.10.0
google-auth==2.41.1
gunicorn==21.2.0
idna==3.10
oauthlib==3.3.1
packaging==25.0
polib==1.2.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.6.0
